### Importing the libraries

In [50]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

### Load the Boston housing dataset

In [51]:
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
print(housing.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

A household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surprisingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [52]:
y=pd.DataFrame(housing.target,columns=housing.target_names)
X=pd.DataFrame(housing.data,columns=housing.feature_names)

In [53]:
X.head(3)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24

In [54]:
y.head(3)

   MedHouseVal
0        4.526
1        3.585
2        3.521

### Split the dataset into training and test sets

In [55]:
# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Add a column of ones to include the intercept term

In [56]:
X_train = np.hstack((np.ones((X_train.shape[0], 1)), X_train))
X_test = np.hstack((np.ones((X_test.shape[0], 1)), X_test))

### Implementing OLS regression manually
### Calculate the coefficients using the normal equation: beta = (X^T * X)^-1 * X^T * y

In [57]:
XtX = np.dot(X_train.T, X_train)
XtX_inv = np.linalg.inv(XtX)
Xty = np.dot(X_train.T, y_train)
beta = np.dot(XtX_inv, Xty)

In [58]:
y_pred_manual = np.dot(X_test, beta)

### Evaluate the manual OLS model

In [62]:
mse_manual = mean_squared_error(y_test, y_pred_manual)
r2_manual = r2_score(y_test, y_pred_manual)

print("Manual OLS Regression")
print("Coefficients:", beta)
print("Mean Squared Error:", mse_manual)
print("R^2 Score:", r2_manual)

Manual OLS Regression
Coefficients: [[-3.70232777e+01]
 [ 4.48674910e-01]
 [ 9.72425752e-03]
 [-1.23323343e-01]
 [ 7.83144907e-01]
 [-2.02962058e-06]
 [-3.52631849e-03]
 [-4.19792487e-01]
 [-4.33708065e-01]]
Mean Squared Error: 0.5558915986948996
R^2 Score: 0.5757877060327139

### Using sklearn's Linear Regression model for comparison

In [60]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
y_pred_sklearn = lin_reg.predict(X_test)

### Evaluate the sklearn model

In [63]:
mse_sklearn = mean_squared_error(y_test, y_pred_sklearn)
r2_sklearn = r2_score(y_test, y_pred_sklearn)

print("\nSklearn Linear Regression")
print("Coefficients:", lin_reg.coef_)
print("Mean Squared Error:", mse_sklearn)
print("R^2 Score:", r2_sklearn)

Sklearn Linear Regression
Coefficients: [[ 0.00000000e+00  4.48674910e-01  9.72425752e-03 -1.23323343e-01
   7.83144907e-01 -2.02962058e-06 -3.52631849e-03 -4.19792487e-01
  -4.33708065e-01]]
Mean Squared Error: 0.5558915986952455
R^2 Score: 0.5757877060324499